<!-- wp:group {"className":"lite-version","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group lite-version"><!-- wp:template-part {"slug":"header","theme":"tp-blogist","area":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"blockGap":"0","padding":{"bottom":"90px"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull" style="padding-bottom:90px"><!-- wp:group {"metadata":{"name":"banner"},"align":"full","style":{"spacing":{"padding":{"top":"12px"}}},"backgroundColor":"custom-background","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull has-custom-background-background-color has-background" style="padding-top:12px"><!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:columns {"align":"wide"} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"width":""} -->
<div class="wp-block-column" id="banner"><!-- wp:query {"queryId":54,"query":{"perPage":1,"pages":0,"offset":"3","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"format":[]}} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"grid","columnCount":1}} -->
<!-- wp:cover {"useFeaturedImage":true,"dimRatio":70,"isUserOverlayColor":true,"minHeight":433,"minHeightUnit":"px","customGradient":"linear-gradient(180deg,rgba(238,238,238,0) 0%,rgb(14,14,14) 100%)","sizeSlug":"full","style":{"border":{"radius":"10px"},"spacing":{"padding":{"right":"50px","left":"50px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-cover" style="border-radius:10px;padding-right:50px;padding-left:50px;min-height:433px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-70 has-background-dim has-background-gradient" style="background:linear-gradient(180deg,rgba(238,238,238,0) 0%,rgb(14,14,14) 100%)"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"align":"wide","className":"margin-top","style":{"spacing":{"margin":{"top":"430px"},"blockGap":"12px"}},"layout":{"type":"constrained","justifyContent":"left"}} -->
<div class="wp-block-group alignwide margin-top" style="margin-top:430px"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:post-terms {"term":"category","style":{"typography":{"fontSize":"14px"},"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base"} /--></div>
<!-- /wp:group -->

<!-- wp:post-title {"textAlign":"left","level":1,"isLink":true,"align":"wide","style":{"spacing":{"padding":{"top":"0px"}},"elements":{"link":{"color":{"text":"#f5f5f5"}}},"color":{"text":"#f5f5f5"}}} /-->

<!-- wp:group {"className":"wens-prova-wrap","style":{"spacing":{"blockGap":"8px"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
<div class="wp-block-group wens-prova-wrap"><!-- wp:paragraph {"style":{"typography":{"fontSize":"14px"}}} -->
<p style="font-size:14px">Date:</p>
<!-- /wp:paragraph -->

<!-- wp:post-date {"textAlign":"center","metadata":{"bindings":{"datetime":{"source":"core/post-data","args":{"field":"date"}}}},"style":{"typography":{"fontSize":"14px"}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"33.33%"} -->
<div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:group {"className":"wens-prova-sticky","style":{"position":{"type":""},"spacing":{"margin":{"top":"24px"}},"border":{"radius":"5px"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group wens-prova-sticky" style="border-radius:5px;margin-top:24px"><!-- wp:group {"style":{"spacing":{"blockGap":"0","padding":{"top":"32px","bottom":"0px","left":"20px","right":"20px"}},"border":{"radius":"10px","color":"#e0e0e0","width":"1px"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group has-border-color" style="border-color:#e0e0e0;border-width:1px;border-radius:10px;padding-top:32px;padding-right:20px;padding-bottom:0px;padding-left:20px"><!-- wp:heading {"level":3} -->
<h3 class="wp-block-heading"><strong>Todays Pick</strong></h3>
<!-- /wp:heading -->

<!-- wp:query {"queryId":22,"query":{"perPage":4,"pages":0,"offset":"1","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"category":[]}}} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default","columnCount":3}} -->
<!-- wp:group {"style":{"spacing":{"blockGap":"15px","padding":{"top":"16px","bottom":"16px"}}},"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"center"}} -->
<div class="wp-block-group" style="padding-top:16px;padding-bottom:16px"><!-- wp:cover {"useFeaturedImage":true,"dimRatio":10,"overlayColor":"contrast","isUserOverlayColor":true,"minHeight":74,"minHeightUnit":"px","isDark":false,"style":{"border":{"radius":{"topLeft":"50%","topRight":"50%","bottomLeft":"50%","bottomRight":"50%"}},"spacing":{"padding":{"right":"38px","left":"38px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-cover is-light" style="border-top-left-radius:50%;border-top-right-radius:50%;border-bottom-left-radius:50%;border-bottom-right-radius:50%;padding-right:38px;padding-left:38px;min-height:74px"><span aria-hidden="true" class="wp-block-cover__background has-contrast-background-color has-background-dim-10 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover -->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:post-title {"level":6,"isLink":true} /-->

<!-- wp:group {"className":"wens-prova-wrap","style":{"spacing":{"blockGap":"8px"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
<div class="wp-block-group wens-prova-wrap"><!-- wp:paragraph {"style":{"typography":{"fontSize":"14px"}}} -->
<p style="font-size:14px">Date:</p>
<!-- /wp:paragraph -->

<!-- wp:post-date {"textAlign":"center","metadata":{"bindings":{"datetime":{"source":"core/post-data","args":{"field":"date"}}}},"style":{"typography":{"fontSize":"14px"}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"60px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide" style="padding-top:60px"><!-- wp:columns {"align":"wide"} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"width":"66.66%","style":{"spacing":{"blockGap":"60px"}}} -->
<div class="wp-block-column" style="flex-basis:66.66%"><!-- wp:group {"metadata":{"name":"eiditor pick"},"style":{"spacing":{"blockGap":"32px"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading">Editor’s Pick</h1>
<!-- /wp:heading -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"24px","bottom":"24px","left":"16px","right":"16px"}},"border":{"radius":"10px","color":"#e0e0e0","width":"1px"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group has-border-color" style="border-color:#e0e0e0;border-width:1px;border-radius:10px;padding-top:24px;padding-right:16px;padding-bottom:24px;padding-left:16px"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"0px","margin":{"top":"30px","bottom":"0"},"padding":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide" style="margin-top:30px;margin-bottom:0;padding-top:0;padding-bottom:0"><!-- wp:query {"queryId":12,"query":{"perPage":1,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"format":[]}} -->
<div class="wp-block-query"><!-- wp:post-template {"layout":{"type":"grid","columnCount":1}} -->
<!-- wp:group {"style":{"spacing":{"blockGap":"0"},"border":{"radius":"5px"}},"backgroundColor":"custom-color-1","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-custom-color-1-background-color has-background" style="border-radius:5px"><!-- wp:cover {"useFeaturedImage":true,"dimRatio":10,"overlayColor":"contrast","isUserOverlayColor":true,"minHeight":194,"minHeightUnit":"px","isDark":false,"style":{"border":{"radius":{"topLeft":"10px","topRight":"10px","bottomLeft":"10px","bottomRight":"10px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-cover is-light" style="border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;min-height:194px"><span aria-hidden="true" class="wp-block-cover__background has-contrast-background-color has-background-dim-10 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"large"} -->
<p class="has-text-align-center has-large-font-size"></p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"16px","bottom":"24px","left":"16px","right":"16px"},"blockGap":"var:preset|spacing|30"},"border":{"radius":"5px"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="border-radius:5px;padding-top:16px;padding-right:16px;padding-bottom:24px;padding-left:16px"><!-- wp:group {"className":"wens-prova-wrap","style":{"spacing":{"blockGap":"8px"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
<div class="wp-block-group wens-prova-wrap"><!-- wp:paragraph {"style":{"typography":{"fontSize":"14px"}}} -->
<p style="font-size:14px">Date:</p>
<!-- /wp:paragraph -->

<!-- wp:post-date {"textAlign":"center","metadata":{"bindings":{"datetime":{"source":"core/post-data","args":{"field":"date"}}}},"style":{"typography":{"fontSize":"14px"}}} /--></div>
<!-- /wp:group -->

<!-- wp:post-title {"level":3,"isLink":true} /-->

<!-- wp:post-excerpt {"excerptLength":13} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:query {"queryId":22,"query":{"perPage":4,"pages":0,"offset":"1","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"category":[]}}} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default","columnCount":3}} -->
<!-- wp:group {"style":{"spacing":{"blockGap":"15px","padding":{"top":"16px","bottom":"16px"},"margin":{"top":"8px"}}},"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"center"}} -->
<div class="wp-block-group" style="margin-top:8px;padding-top:16px;padding-bottom:16px"><!-- wp:cover {"dimRatio":10,"overlayColor":"contrast","isUserOverlayColor":true,"minHeight":100,"minHeightUnit":"px","isDark":false,"style":{"border":{"radius":{"topLeft":"10px","topRight":"10px","bottomLeft":"10px","bottomRight":"10px"}},"spacing":{"padding":{"right":"50px","left":"50px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-cover is-light" style="border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;padding-right:50px;padding-left:50px;min-height:100px"><span aria-hidden="true" class="wp-block-cover__background has-contrast-background-color has-background-dim-10 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"large"} -->
<p class="has-text-align-center has-large-font-size"></p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover -->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:post-title {"level":6,"isLink":true} /-->

<!-- wp:group {"className":"wens-prova-wrap","style":{"spacing":{"blockGap":"8px"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
<div class="wp-block-group wens-prova-wrap"><!-- wp:paragraph {"style":{"typography":{"fontSize":"14px"}}} -->
<p style="font-size:14px">Date:</p>
<!-- /wp:paragraph -->

<!-- wp:post-date {"textAlign":"center","metadata":{"bindings":{"datetime":{"source":"core/post-data","args":{"field":"date"}}}},"style":{"typography":{"fontSize":"14px"}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"tranding now"},"style":{"spacing":{"blockGap":"32px"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading">Trending Now</h1>
<!-- /wp:heading -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"24px","bottom":"24px","left":"16px","right":"16px"},"blockGap":"var:preset|spacing|20"},"border":{"radius":"10px","color":"#e0e0e0","width":"1px"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group has-border-color" style="border-color:#e0e0e0;border-width:1px;border-radius:10px;padding-top:24px;padding-right:16px;padding-bottom:24px;padding-left:16px"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:query {"queryId":12,"query":{"perPage":2,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"format":[]}} -->
<div class="wp-block-query"><!-- wp:post-template {"layout":{"type":"grid","columnCount":2}} -->
<!-- wp:group {"style":{"spacing":{"blockGap":"0"},"border":{"radius":"5px"}},"backgroundColor":"custom-color-1","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-custom-color-1-background-color has-background" style="border-radius:5px"><!-- wp:cover {"useFeaturedImage":true,"dimRatio":10,"overlayColor":"contrast","isUserOverlayColor":true,"minHeight":260,"minHeightUnit":"px","isDark":false,"style":{"border":{"radius":{"topLeft":"10px","topRight":"10px","bottomLeft":"10px","bottomRight":"10px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-cover is-light" style="border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;min-height:260px"><span aria-hidden="true" class="wp-block-cover__background has-contrast-background-color has-background-dim-10 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"large"} -->
<p class="has-text-align-center has-large-font-size"></p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"16px","bottom":"24px","left":"16px","right":"16px"},"blockGap":"var:preset|spacing|30"},"border":{"radius":"5px"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="border-radius:5px;padding-top:16px;padding-right:16px;padding-bottom:24px;padding-left:16px"><!-- wp:group {"className":"wens-prova-wrap","style":{"spacing":{"blockGap":"8px"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
<div class="wp-block-group wens-prova-wrap"><!-- wp:paragraph {"style":{"typography":{"fontSize":"14px"}}} -->
<p style="font-size:14px">Date:</p>
<!-- /wp:paragraph -->

<!-- wp:post-date {"textAlign":"center","metadata":{"bindings":{"datetime":{"source":"core/post-data","args":{"field":"date"}}}},"style":{"typography":{"fontSize":"14px"}}} /--></div>
<!-- /wp:group -->

<!-- wp:post-title {"level":3,"isLink":true} /-->

<!-- wp:post-excerpt {"excerptLength":13} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:query {"queryId":22,"query":{"perPage":4,"pages":0,"offset":"","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"format":[]},"layout":{"type":"default"}} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"grid","columnCount":2}} -->
<!-- wp:group {"style":{"spacing":{"blockGap":"16px","padding":{"top":"24px","bottom":"16px","right":"16px"}},"border":{"top":{"color":"#e0e0e0","width":"1px"}}},"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"center"}} -->
<div class="wp-block-group" style="border-top-color:#e0e0e0;border-top-width:1px;padding-top:24px;padding-right:16px;padding-bottom:16px"><!-- wp:cover {"dimRatio":10,"overlayColor":"contrast","isUserOverlayColor":true,"minHeight":100,"minHeightUnit":"px","isDark":false,"style":{"border":{"radius":{"topLeft":"10px","topRight":"10px","bottomLeft":"10px","bottomRight":"10px"}},"spacing":{"padding":{"right":"50px","left":"50px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-cover is-light" style="border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;padding-right:50px;padding-left:50px;min-height:100px"><span aria-hidden="true" class="wp-block-cover__background has-contrast-background-color has-background-dim-10 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"large"} -->
<p class="has-text-align-center has-large-font-size"></p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover -->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:post-title {"level":6,"isLink":true} /-->

<!-- wp:group {"className":"wens-prova-wrap","style":{"spacing":{"blockGap":"8px"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
<div class="wp-block-group wens-prova-wrap"><!-- wp:paragraph {"style":{"typography":{"fontSize":"14px"}}} -->
<p style="font-size:14px">Date:</p>
<!-- /wp:paragraph -->

<!-- wp:post-date {"textAlign":"center","metadata":{"bindings":{"datetime":{"source":"core/post-data","args":{"field":"date"}}}},"style":{"typography":{"fontSize":"14px"}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"latest posts"},"style":{"spacing":{"blockGap":"32px"}},"layout":{"type":"constrained"}} -->
<div id="pt-latest" class="wp-block-group"><!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading">Latest Posts<br></h1>
<!-- /wp:heading -->

<!-- wp:group {"style":{"border":{"color":"#e0e0e0","width":"1px","radius":"10px"},"spacing":{"padding":{"right":"16px","left":"16px","top":"24px","bottom":"24px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group has-border-color" style="border-color:#e0e0e0;border-width:1px;border-radius:10px;padding-top:24px;padding-right:16px;padding-bottom:24px;padding-left:16px"><!-- wp:query {"queryId":22,"query":{"perPage":"6","pages":0,"offset":"0","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"category":[]}}} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"50px"}},"layout":{"type":"default","columnCount":3}} -->
<!-- wp:group {"style":{"border":{"bottom":{"color":"#e0e0e0","width":"1px"}},"spacing":{"padding":{"bottom":"24px"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group" style="border-bottom-color:#e0e0e0;border-bottom-width:1px;padding-bottom:24px"><!-- wp:cover {"useFeaturedImage":true,"dimRatio":10,"overlayColor":"contrast","isUserOverlayColor":true,"minHeight":260,"minHeightUnit":"px","isDark":false,"style":{"border":{"radius":{"topLeft":"10px","topRight":"10px","bottomLeft":"10px","bottomRight":"10px"}},"spacing":{"padding":{"right":"120px","left":"120px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-cover is-light" style="border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;padding-right:120px;padding-left:120px;min-height:260px"><span aria-hidden="true" class="wp-block-cover__background has-contrast-background-color has-background-dim-10 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"large"} -->
<p class="has-text-align-center has-large-font-size"></p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover -->

<!-- wp:group {"style":{"spacing":{"blockGap":"12px"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:post-terms {"term":"category","style":{"typography":{"fontSize":"12px"},"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"wens-prova-wrap","style":{"spacing":{"blockGap":"8px"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
<div class="wp-block-group wens-prova-wrap"><!-- wp:paragraph {"style":{"typography":{"fontSize":"14px"}}} -->
<p style="font-size:14px">Date:</p>
<!-- /wp:paragraph -->

<!-- wp:post-date {"textAlign":"center","metadata":{"bindings":{"datetime":{"source":"core/post-data","args":{"field":"date"}}}},"style":{"typography":{"fontSize":"14px"}}} /--></div>
<!-- /wp:group -->

<!-- wp:post-title {"level":3,"isLink":true} /-->

<!-- wp:post-excerpt {"excerptLength":20,"style":{"typography":{"fontSize":"18px"}},"fontFamily":"lora"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"33.33%"} -->
<div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:group {"metadata":{"name":"sider bar"},"className":"wens-prova-sticky","style":{"position":{"type":"sticky","top":"0px"},"spacing":{"margin":{"top":"72px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group wens-prova-sticky" style="margin-top:72px"><!-- wp:group {"className":"wens-haelo-pro-sidebar-widget","style":{"spacing":{"padding":{"top":"30px","bottom":"30px","left":"20px","right":"20px"},"blockGap":"0"},"elements":{"link":{"color":{"text":"var:preset|color|custom-neutral"}}},"border":{"radius":"10px","color":"#e0e0e0","width":"1px"}},"backgroundColor":"custom-color-1","textColor":"custom-neutral","layout":{"type":"constrained"}} -->
<div class="wp-block-group wens-haelo-pro-sidebar-widget has-border-color has-custom-neutral-color has-custom-color-1-background-color has-text-color has-background has-link-color" style="border-color:#e0e0e0;border-width:1px;border-radius:10px;padding-top:30px;padding-right:20px;padding-bottom:30px;padding-left:20px"><!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-primary-color"}}},"spacing":{"blockGap":"var:preset|spacing|30"}},"textColor":"custom-primary-color","layout":{"type":"constrained","justifyContent":"center"}} -->
<div class="wp-block-group has-custom-primary-color-color has-text-color has-link-color"><!-- wp:heading -->
<h2 class="wp-block-heading">Search</h2>
<!-- /wp:heading -->

<!-- wp:search {"label":"","placeholder":"Search here.","width":100,"widthUnit":"%","buttonText":"Search","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}},"border":{"radius":"10px"},"typography":{"fontSize":"16px"}},"backgroundColor":"custom-accent","textColor":"base"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"24px","bottom":"24px","left":"15px","right":"15px"},"blockGap":"var:preset|spacing|30"},"border":{"radius":"10px","color":"#e0e0e0","width":"1px"}},"backgroundColor":"custom-color-1","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-border-color has-custom-color-1-background-color has-background" style="border-color:#e0e0e0;border-width:1px;border-radius:10px;padding-top:24px;padding-right:15px;padding-bottom:24px;padding-left:15px"><!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"textAlign":"center"} -->
<h2 class="wp-block-heading has-text-align-center">Olivia</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Carter</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">is a writer covering health, tech, lifestyle, and economic trends. She loves crafting engaging stories that inform and inspire readers.</p>
<!-- /wp:paragraph -->

<!-- wp:social-links {"iconColor":"custom-accent","iconColorValue":"#3a86ff","className":"is-style-logos-only","layout":{"type":"flex","justifyContent":"center"}} -->
<ul class="wp-block-social-links has-icon-color is-style-logos-only"><!-- wp:social-link {"url":"#","service":"facebook"} /-->

<!-- wp:social-link {"url":"#","service":"x"} /-->

<!-- wp:social-link {"url":"#","service":"linkedin"} /-->

<!-- wp:social-link {"url":"#","service":"youtube"} /-->

<!-- wp:social-link {"url":"#","service":"whatsapp"} /--></ul>
<!-- /wp:social-links --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"blockGap":"0","padding":{"top":"24px","bottom":"24px","left":"16px","right":"16px"}},"border":{"radius":"10px","color":"#e0e0e0","width":"1px"}},"backgroundColor":"custom-color-1","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-border-color has-custom-color-1-background-color has-background" style="border-color:#e0e0e0;border-width:1px;border-radius:10px;padding-top:24px;padding-right:16px;padding-bottom:24px;padding-left:16px"><!-- wp:heading {"textAlign":"left"} -->
<h2 class="wp-block-heading has-text-align-left"><strong>Popular Posts</strong></h2>
<!-- /wp:heading -->

<!-- wp:query {"queryId":22,"query":{"perPage":4,"pages":0,"offset":"1","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"category":[]}}} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default","columnCount":3}} -->
<!-- wp:group {"style":{"spacing":{"blockGap":"15px","padding":{"top":"16px","bottom":"16px"}}},"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"center"}} -->
<div class="wp-block-group" style="padding-top:16px;padding-bottom:16px"><!-- wp:cover {"useFeaturedImage":true,"dimRatio":10,"overlayColor":"contrast","isUserOverlayColor":true,"minHeight":85,"minHeightUnit":"px","isDark":false,"style":{"border":{"radius":{"topLeft":"10px","topRight":"10px","bottomLeft":"10px","bottomRight":"10px"}},"spacing":{"padding":{"right":"40px","left":"40px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-cover is-light" style="border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;padding-right:40px;padding-left:40px;min-height:85px"><span aria-hidden="true" class="wp-block-cover__background has-contrast-background-color has-background-dim-10 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover -->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:post-title {"level":6,"isLink":true} /-->

<!-- wp:group {"className":"wens-prova-wrap","style":{"spacing":{"blockGap":"8px"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
<div class="wp-block-group wens-prova-wrap"><!-- wp:paragraph {"style":{"typography":{"fontSize":"14px"}}} -->
<p style="font-size:14px">Date:</p>
<!-- /wp:paragraph -->

<!-- wp:post-date {"textAlign":"center","metadata":{"bindings":{"datetime":{"source":"core/post-data","args":{"field":"date"}}}},"style":{"typography":{"fontSize":"14px"}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:group {"className":"wens-haelo-pro-sidebar-widget","style":{"spacing":{"padding":{"top":"24px","bottom":"24px","left":"16px","right":"16px"},"blockGap":"30px"},"border":{"radius":"10px","color":"#e0e0e0","width":"1px"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group wens-haelo-pro-sidebar-widget has-border-color" style="border-color:#e0e0e0;border-width:1px;border-radius:10px;padding-top:24px;padding-right:16px;padding-bottom:24px;padding-left:16px"><!-- wp:group {"style":{"spacing":{"padding":{"left":"10px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-left:10px"><!-- wp:heading {"textAlign":"left","style":{"typography":{"lineHeight":"1.5"}}} -->
<h2 class="wp-block-heading has-text-align-left" style="line-height:1.5">Explore Topics</h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:categories {"showPostCounts":true,"style":{"typography":{"fontSize":"16px","fontStyle":"normal","fontWeight":"600"}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"tp-blogist","area":"footer"} /--></div>
<!-- /wp:group -->